@media (max-width: 1024px) {
  .forgot_sec {
    padding: 12% 0 39%;
}
.login_fild.forget_align {
  width: 80%;
  margin: 100px auto 0;
}
  .login_sec {
    height: 70vh;
}
  .tab button {
    font-size: 14px;
  }
  a.package_2 {
    width: 80px;
  }
  a.package_a {
    margin: 0px 0px 0px 15px;
  }

  .text_like {
    margin: 100px 0 0;
  }

  .centerheading h4 {
    font-size: 30px;
  }

  .centerheading span {
    font-size: 40px;
    margin: 16px auto 50px;
    width: 100%;
  }

  .trustbox small {
    font-size: 24px;
  }

  .insta_text h3 {
    font-size: 50px;
    width: 100%;
  }

  .rightheading h4 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
  }

  .rightheading span {
    font-size: 45px;
    text-align: center;
    margin: 0 0 40px;
  }

  .test::after {
    top: 201px;
  }

  .bannerText span {
    line-height: 90px;
    font-size: 66px;
  }
  .bannerinside .row {
    align-items: center;
  }

  .menuSec ul li a {
    font-size: 12px;
    padding: 0 15px;
  }

  .menuSec ul li.getquote a {
    padding: 5px 18px;
  }
}

@media (max-width: 768px) {
  .login_fild.forget_align {
    width: 100%;
}
  .login_sec {
    height: 100%;
  }
  .login_fild {
    min-height: 360px;
  }
  .login_text {
    min-height: 360px;
  }
  .login_text p {
    font-size: 15px;
    width: 100%;
    line-height: 23px;
  }
  .text_like {
    margin: auto;
  }
  .like_body sub {
    left: 32px;
  }

  .tab_sec .tab {
    width: 50%;
  }
  .video_like iframe {
    width: 590px;
    height: 350px;
  }
  .bannerText span {
    line-height: 71px;
    font-size: 65px;
  }

  .menuSec ul {
    display: none;
  }

  .menuSec img {
    margin-top: -60px;
  }

  .slicknav_nav {
    padding: 0 0 40px;
  }

  .slicknav_nav a {
    color: #000;
  }

  header#header {
    position: inherit;
    padding-top: 0;
  }
  header#header {
    position: inherit;
  }
  .slicknav_menu {
    display: block;
    background: unset;
  }

  .bannerText h2 {
    font-size: 42px;
  }

  .bannerText .start_btn {
    background: #645aba;
    color: white;
    border: 2px solid #645aba;
    margin: 0 20px 0px 0px;
    padding: 15px 37px;
  }

  .bannerText a {
    margin: 20px 0 0 0;
  }
  .bannerinside .row {
    align-items: center;
  }

  .centerheading h4 {
    font-size: 25px;
  }
  .trustbox small {
    font-size: 22px;
    font-weight: 600;
  }

  .trustbox p {
    width: 60%;
    font-size: 17px;
    line-height: 23px;
    font-weight: 500;
  }

  .insta_text h3 {
    width: 100%;
  }

  .insta_text h6 {
    font-size: 20px;
    font-weight: 500;
  }

  .insta_text p {
    font-size: 15px;
  }

  .insta_text a {
    padding: 12px 46px;
    font-size: 18px;
    margin-top: 10px;
  }

  .test::after {
    width: 6%;
    left: 30px;
    top: 50px;
  }
  .centerheading span {
    width: 100%;
    font-size: 30px;
  }

  .centerheading h4 {
    font-size: 30px;
  }

  .cus_con2 input {
    font-size: 16px;
    width: 100%;
  }
  .cus_con2 textarea#floatingTextarea2 {
    width: 100%;
  }

  .cus_con2 button {
    margin: 10px 0 0px;
    width: 50%;
    height: 55px;
  }

  .foter-logo i {
    top: 178px;
  }

  .rightheading h4 {
    text-align: center;
    font-size: 25px;
  }

  .rightheading span {
    line-height: 42px;
    text-align: center;
  }
}

@media (max-width: 540px) {
  .login_fild.forget_align {
    width: 100%;
  }
  .login_text a {
    height: 42px;
    width: 154px;
    margin: 0px auto 0;
    font-size: 15px;
  }
  .login_text p {
    font-size: 15px;
    width: 69%;
    margin: 0px auto 20px;
    line-height: 23px;
  }
  .login_text {
    min-height: 320px;
    margin: 5% 0;
  }
  .login_text h3 {
    font-size: 30px;
    line-height: 24px;
    margin: 0 0 20px;
  }
  .login_fild h3 {
    font-size: 30px;
  }
  .login_fild {
    margin: 5% 0;
    min-height: 400px;
  }
  .login_sec {
    height: 100%;
    min-height: 350px;
  }
  .login_fild a {
    height: 39px;
    width: 155px;
    margin: 18px auto 0;
    font-size: 16px;
  }
  .login_fild input {
    height: 43px;
    width: 90%;
    margin: 17px auto 0;
  }
  /* ////// */
  .text_like {
    margin: auto;
  }
  header#header {
    position: inherit;
    padding: 0;
  }

  .slicknav_menu {
    background: #ffffff;
  }

  .slicknav_nav a {
    color: #000;
  }

  .menuSec img {
    margin: 0 auto 10px;
    display: block;
    width: 50%;
  }

  .bannerText {
    padding: 0 0 0;
  }

  .bannerText h2 {
    font-size: 20px;
    line-height: 35px;
    margin: 0;
  }

  .bannerText a {
    padding: 2px 5px;
    font-size: 12px;
    margin: 0;
  }

  .bannerimg.wow.fadeInRight {
    padding-top: 30px;
  }

  .centerheading span {
    font-size: 14px;
    line-height: 20px;
    width: auto;
    margin: 0 auto 20px;
  }
  .trustbox {
    padding: 80px 0 0 0px;
  }

  .trustbox.purple {
    margin: 0 auto 20px;
  }

  .trustbox.green {
    margin: 0 auto 20px;
  }

  .insta_text h3 {
    font-size: 24px;
    line-height: 34px;
    margin: 10px 0 20px;
    width: 100%;
  }

  .insta_text h6 {
    font-size: 15px;
    font-weight: 500;
  }

  .insta_text p {
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
  }

  .insta_text a {
    padding: 5px 29px;
    font-size: 12px;
    font-weight: 300;
    margin: 10px 0 0 0;
  }

  .insta_text.fadeInLeft {
    margin-bottom: 30px;
  }

  .insta_2img {
    padding: 50px 0 0;
  }

  .rightheading span {
    font-size: 16px;
    line-height: 16px;
    text-align: center;
  }

  .rightheading h4 {
    text-align: center;
    margin-bottom: 10px;
  }

  .testimonial .slick-dots {
    right: 0;
    bottom: 0;
    left: 0;
    top: 320px;
  }

  .cus_test1 h5 {
    margin: 0;
  }

  .cus_test1 h2 {
    margin: 10px 0 15px;
    line-height: 31px;
  }

  .test::after {
    width: 100%;
    left: 30px;
    top: 20px;
    z-index: -1;
    opacity: 0.8;
    background-size: 11%;
  }

  .cus_con2 h4 {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0 10px;
    text-align: center;
  }

  .cus_con2 input {
    padding: 0 14px;
    font-size: 12px;
    margin: 0 0px 6px;
    width: 100%;
  }

  .cus_con2 textarea#floatingTextarea2 {
    width: 100%;
    height: 118px !important;
  }
  .form-floating > label {
    font-weight: 400 !important;
    color: #798189 !important;
    padding: 4px 10px;
    font-size: 12px !important;
  }

  .cus_con2 button {
    margin: 0 0 0px;
    width: 40%;
    height: 35px;
    font-size: 12px;
    font-weight: 300;
  }
  .cus_con5 p {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
  }

  .cus_con6 {
    padding: 0 0 0;
    text-align: center;
  }

  .foter-logo img {
    width: 35%;
    margin: 0;
  }

  .foter-logo p {
    font-size: 14px;
  }

  .foter-logo i {
    top: 140px;
  }
  .auto_main {
    margin: 40px 0 0;
  }

  .cus_icon ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }

  .copy-text p {
    text-align: center;
  }

  .copy_sec li a {
    font-size: 20px;
    margin: 0px 0px 0px 10px;
  }

  .copy_sec {
    display: flex;
    justify-content: center;
  }

  .main-copy {
    padding: 25px 0 0;
  }

  .Servicesmainmain {
    margin: 0 auto 15px !important;
  }
  .Servicesmainmain4 {
    position: unset;
    top: unset;
  }
  .bannerText a.start_btn {
    padding: 2px 5px;
    font-size: 12px;
  }

  .tab_sec .tab {
    width: auto;
  }
  .tab_sec .tab button {
    font-size: 13px;
  }
  .video_like iframe {
    width: auto;
    height: 220px;
    margin: 0 auto 50px;
    display: block;
  }
  .like_text p {
    font-size: 12px;
    line-height: 18px;
  }
  .order-para li {
    list-style: inherit;
    font-size: 12px;
    line-height: 17px;
  }

  .bg_text h2 {
    font-size: 25px;
    margin: 0 0 0px;
    line-height: 40px;
  }
  .bg_text1 .bg-number {
    font-size: 5rem;
  }
  .bg_text1.bg_text2 {
    padding: 30px 0 0;
  }
  .bg_text2 {
    padding: 20px 0 0;
    width: auto;
  }
  .bg_text1.bg_text2 .bg-number {
    top: 20px;
  }
  .faq_text h3 {
    margin: 0 0 15px;
    font-size: 14px;
    line-height: 27px;
  }
  .faq_text p {
    font-size: 11px;
    font-weight: 400;
  }
  .faqs_sec p {
    font-weight: 500;
    font-size: 11px;
    width: auto;
    padding: 0;
    line-height: 16px;
  }
  ul.linkList li a {
    font-size: 12px;
    line-height: 20px;
  }
  .linkList.two a {
    font-size: 12px;
    line-height: 17px;
  }
  .linkList.two li {
    padding: 0 0 0;
  }

  .anchor_block a {
    line-height: 20px;
    font-size: 13px;
  }
  .like_text a {
    font-size: 13px;
    font-weight: 500;
  }

  a.package_a {
    margin: 0 auto;
  }
  .main_pkg {
    margin: 0 auto;
    display: table;
  }
  a.package_a {
    width: 53px;
    height: 42px;
    margin: 0 auto;
  }
  a.package_2 {
    width: 110px;
    height: 42px;
  }

  .like_text h6 {
    font-size: 13px;
    margin: 18px 0;
  }

  .text_like h2 {
    font-size: 20px;
    margin: 0 0 10px;
    line-height: 28px;
  }
  .main_20 h5 {
    font-size: 15px;
  }

  .lorem_div p {
    font-size: 12px;
    line-height: 25px;
    text-align: center;
  }

  .lorem_div h5 {
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .login_fild.forget_align {
    width: 100%;
  }
  .login_text a {
    height: 38px;
    width: 150px;
    margin: 0px auto 0;
    font-size: 14px;
  }
  .login_text p {
    font-size: 14px;
    width: 100%;
    margin: 0px auto 20px;
    line-height: 23px;
  }
  .login_text {
    min-height: 320px;
    margin: 5% 0;
  }
  .login_text h3 {
    font-size: 25px;
    line-height: 24px;
    margin: 0 0 15px;
  }
  .login_fild h3 {
    font-size: 25px;
  }
  .login_fild {
    margin: 5% 0;
    min-height: 350px;
  }
  .login_sec {
    height: 100%;
    min-height: 350px;
  }
  .login_fild a {
    height: 37px;
    width: 150px;
    margin: 16px auto 0;
    font-size: 14px;
  }
  .login_fild input {
    height: 40px;
    width: 90%;
    margin: 17px auto 0;
  }
  /* ////// */
  .text_like {
    margin: auto;
  }
  header#header {
    position: inherit;
    padding: 0;
  }

  .slicknav_menu {
    background: #ffffff;
  }

  .slicknav_nav a {
    color: #000;
  }

  .menuSec img {
    margin: 0 auto 10px;
    display: block;
    width: 50%;
  }

  .bannerText {
    padding: 0 0 0;
  }

  .bannerText h2 {
    font-size: 20px;
    line-height: 35px;
    margin: 0;
  }

  .bannerText a {
    padding: 2px 5px;
    font-size: 12px;
    margin: 0;
  }

  .bannerimg.wow.fadeInRight {
    padding-top: 30px;
  }

  .centerheading span {
    font-size: 14px;
    line-height: 20px;
    width: auto;
    margin: 0 auto 20px;
  }
  .trustbox {
    padding: 80px 0 0 0px;
  }

  .trustbox.purple {
    margin: 0 auto 20px;
  }

  .trustbox.green {
    margin: 0 auto 20px;
  }

  .insta_text h3 {
    font-size: 24px;
    line-height: 34px;
    margin: 10px 0 20px;
    width: 100%;
  }

  .insta_text h6 {
    font-size: 15px;
    font-weight: 500;
  }

  .insta_text p {
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
  }

  .insta_text a {
    padding: 5px 29px;
    font-size: 12px;
    font-weight: 300;
    margin: 10px 0 0 0;
  }

  .insta_text.fadeInLeft {
    margin-bottom: 30px;
  }

  .insta_2img {
    padding: 50px 0 0;
  }

  .rightheading span {
    font-size: 16px;
    line-height: 16px;
    text-align: center;
  }

  .rightheading h4 {
    text-align: center;
    margin-bottom: 10px;
  }

  .testimonial .slick-dots {
    right: 0;
    bottom: 0;
    left: 0;
    top: 320px;
  }

  .cus_test1 h5 {
    margin: 0;
  }

  .cus_test1 h2 {
    margin: 10px 0 15px;
    line-height: 31px;
  }

  .test::after {
    width: 100%;
    left: 30px;
    top: 20px;
    z-index: -1;
    opacity: 0.8;
    background-size: 11%;
  }

  .cus_con2 h4 {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0 10px;
    text-align: center;
  }

  .cus_con2 input {
    padding: 0 14px;
    font-size: 12px;
    margin: 0 0px 6px;
    width: 100%;
  }

  .cus_con2 textarea#floatingTextarea2 {
    width: 100%;
    height: 118px !important;
  }
  .form-floating > label {
    font-weight: 400 !important;
    color: #798189 !important;
    padding: 4px 10px;
    font-size: 12px !important;
  }

  .cus_con2 button {
    margin: 0 0 0px;
    width: 40%;
    height: 35px;
    font-size: 12px;
    font-weight: 300;
  }
  .cus_con5 p {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
  }

  .cus_con6 {
    padding: 0 0 0;
    text-align: center;
  }

  .foter-logo img {
    width: 35%;
    margin: 0;
  }

  .foter-logo p {
    font-size: 14px;
  }

  .foter-logo i {
    top: 128px;
  }
  .auto_main {
    margin: 40px 0 0;
  }

  .cus_icon ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }

  .copy-text p {
    text-align: center;
  }

  .copy_sec li a {
    font-size: 20px;
    margin: 0px 0px 0px 10px;
  }

  .copy_sec {
    display: flex;
    justify-content: center;
  }

  .main-copy {
    padding: 25px 0 0;
  }

  .Servicesmainmain {
    margin: 0 auto 15px !important;
  }
  .Servicesmainmain4 {
    position: unset;
    top: unset;
  }
  .bannerText a.start_btn {
    padding: 2px 5px;
    font-size: 12px;
  }

  .tab_sec .tab {
    width: auto;
  }
  .tab_sec .tab button {
    font-size: 13px;
  }
  .video_like iframe {
    width: auto;
    height: 220px;
    margin: 0 auto 50px;
    display: block;
  }
  .like_text p {
    font-size: 12px;
    line-height: 18px;
  }
  .order-para li {
    list-style: inherit;
    font-size: 12px;
    line-height: 17px;
  }

  .bg_text h2 {
    font-size: 25px;
    margin: 0 0 0px;
    line-height: 40px;
  }
  .bg_text1 .bg-number {
    font-size: 5rem;
  }
  .bg_text1.bg_text2 {
    padding: 30px 0 0;
  }
  .bg_text2 {
    padding: 20px 0 0;
    width: auto;
  }
  .bg_text1.bg_text2 .bg-number {
    top: 20px;
  }
  .faq_text h3 {
    margin: 0 0 15px;
    font-size: 14px;
    line-height: 27px;
  }
  .faq_text p {
    font-size: 11px;
    font-weight: 400;
  }
  .faqs_sec p {
    font-weight: 500;
    font-size: 11px;
    width: auto;
    padding: 0;
    line-height: 16px;
  }
  ul.linkList li a {
    font-size: 12px;
    line-height: 20px;
  }
  .linkList.two a {
    font-size: 12px;
    line-height: 17px;
  }
  .linkList.two li {
    padding: 0 0 0;
  }

  .anchor_block a {
    line-height: 20px;
    font-size: 13px;
  }
  .like_text a {
    font-size: 13px;
    font-weight: 500;
  }

  a.package_a {
    margin: 0 auto;
  }
  .main_pkg {
    margin: 0 auto;
    display: table;
  }
  a.package_a {
    width: 53px;
    height: 42px;
    margin: 0 auto;
  }
  a.package_2 {
    width: 110px;
    height: 42px;
  }

  .like_text h6 {
    font-size: 13px;
    margin: 18px 0;
  }

  .text_like h2 {
    font-size: 20px;
    margin: 0 0 10px;
    line-height: 28px;
  }
  .main_20 h5 {
    font-size: 15px;
  }

  .lorem_div p {
    font-size: 12px;
    line-height: 25px;
    text-align: center;
  }

  .lorem_div h5 {
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .login_fild.forget_align {
    width: 100%;
  }
  .login_text a {
    height: 38px;
    width: 150px;
    margin: 0px auto 0;
    font-size: 14px;
  }
  .login_text p {
    font-size: 14px;
    width: 100%;
    margin: 0px auto 20px;
    line-height: 23px;
  }
  .login_text {
    min-height: 320px;
    margin: 5% 0;
  }
  .login_text h3 {
    font-size: 25px;
    line-height: 24px;
    margin: 0 0 15px;
  }
  .login_fild h3 {
    font-size: 25px;
  }
  .login_fild {
    margin: 5% 0;
    min-height: 330px;
  }
  .login_sec {
    height: 100%;
    min-height: 350px;
  }
  .login_fild a {
    height: 37px;
    width: 150px;
    margin: 16px auto 0;
    font-size: 14px;
  }
  .login_fild input {
    height: 40px;
    width: 90%;
    margin: 17px auto 0;
  }
  /* ////// */
  .text_like {
    margin: auto;
  }
  header#header {
    position: inherit;
    padding: 0;
  }

  .slicknav_menu {
    background: #ffffff;
  }

  .slicknav_nav a {
    color: #000;
  }

  .menuSec img {
    margin: 0 auto 10px;
    display: block;
    width: 50%;
  }

  .bannerText {
    padding: 0 0 0;
  }

  .bannerText h2 {
    font-size: 20px;
    line-height: 35px;
    margin: 0;
  }

  .bannerText a {
    padding: 2px 5px;
    font-size: 12px;
    margin: 0;
  }

  .bannerimg.wow.fadeInRight {
    padding-top: 30px;
  }

  .centerheading span {
    font-size: 14px;
    line-height: 20px;
    width: auto;
    margin: 0 auto 20px;
  }
  .trustbox {
    padding: 80px 0 0 0px;
  }

  .trustbox.purple {
    margin: 0 auto 20px;
  }

  .trustbox.green {
    margin: 0 auto 20px;
  }

  .insta_text h3 {
    font-size: 24px;
    line-height: 34px;
    margin: 10px 0 20px;
    width: 100%;
  }

  .insta_text h6 {
    font-size: 15px;
    font-weight: 500;
  }

  .insta_text p {
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
  }

  .insta_text a {
    padding: 5px 29px;
    font-size: 12px;
    font-weight: 300;
    margin: 10px 0 0 0;
  }

  .insta_text.fadeInLeft {
    margin-bottom: 30px;
  }

  .insta_2img {
    padding: 50px 0 0;
  }

  .rightheading span {
    font-size: 16px;
    line-height: 16px;
    text-align: center;
  }

  .rightheading h4 {
    text-align: center;
    margin-bottom: 10px;
  }

  .testimonial .slick-dots {
    right: 0;
    bottom: 0;
    left: 0;
    top: 320px;
  }

  .cus_test1 h5 {
    margin: 0;
  }

  .cus_test1 h2 {
    margin: 10px 0 15px;
    line-height: 31px;
  }

  .test::after {
    width: 100%;
    left: 30px;
    top: 20px;
    z-index: -1;
    opacity: 0.8;
    background-size: 11%;
  }

  .cus_con2 h4 {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0 10px;
    text-align: center;
  }

  .cus_con2 input {
    padding: 0 14px;
    font-size: 12px;
    margin: 0 0px 6px;
    width: 100%;
  }

  .cus_con2 textarea#floatingTextarea2 {
    width: 100%;
    height: 118px !important;
  }
  .form-floating > label {
    font-weight: 400 !important;
    color: #798189 !important;
    padding: 4px 10px;
    font-size: 12px !important;
  }

  .cus_con2 button {
    margin: 0 0 0px;
    width: 40%;
    height: 35px;
    font-size: 12px;
    font-weight: 300;
  }
  .cus_con5 p {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
  }

  .cus_con6 {
    padding: 0 0 0;
    text-align: center;
  }

  .foter-logo img {
    width: 35%;
    margin: 0;
  }

  .foter-logo p {
    font-size: 14px;
  }

  .foter-logo i {
    top: 128px;
  }
  .auto_main {
    margin: 40px 0 0;
  }

  .cus_icon ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }

  .copy-text p {
    text-align: center;
  }

  .copy_sec li a {
    font-size: 20px;
    margin: 0px 0px 0px 10px;
  }

  .copy_sec {
    display: flex;
    justify-content: center;
  }

  .main-copy {
    padding: 25px 0 0;
  }

  .Servicesmainmain {
    margin: 0 auto 15px !important;
  }
  .Servicesmainmain4 {
    position: unset;
    top: unset;
  }
  .bannerText a.start_btn {
    padding: 2px 5px;
    font-size: 12px;
  }

  .tab_sec .tab {
    width: auto;
  }
  .tab_sec .tab button {
    font-size: 13px;
  }
  .video_like iframe {
    width: auto;
    height: 220px;
    margin: 0 auto 50px;
    display: block;
  }
  .like_text p {
    font-size: 12px;
    line-height: 18px;
  }
  .order-para li {
    list-style: inherit;
    font-size: 12px;
    line-height: 17px;
  }

  .bg_text h2 {
    font-size: 25px;
    margin: 0 0 0px;
    line-height: 40px;
  }
  .bg_text1 .bg-number {
    font-size: 5rem;
  }
  .bg_text1.bg_text2 {
    padding: 30px 0 0;
  }
  .bg_text2 {
    padding: 20px 0 0;
    width: auto;
  }
  .bg_text1.bg_text2 .bg-number {
    top: 20px;
  }
  .faq_text h3 {
    margin: 0 0 15px;
    font-size: 14px;
    line-height: 27px;
  }
  .faq_text p {
    font-size: 11px;
    font-weight: 400;
  }
  .faqs_sec p {
    font-weight: 500;
    font-size: 11px;
    width: auto;
    padding: 0;
    line-height: 16px;
  }
  ul.linkList li a {
    font-size: 12px;
    line-height: 20px;
  }
  .linkList.two a {
    font-size: 12px;
    line-height: 17px;
  }
  .linkList.two li {
    padding: 0 0 0;
  }

  .anchor_block a {
    line-height: 20px;
    font-size: 13px;
  }
  .like_text a {
    font-size: 13px;
    font-weight: 500;
  }

  a.package_a {
    margin: 0 auto;
  }
  .main_pkg {
    margin: 0 auto;
    display: table;
  }
  a.package_a {
    width: 53px;
    height: 42px;
    margin: 0 auto;
  }
  a.package_2 {
    width: 110px;
    height: 42px;
  }

  .like_text h6 {
    font-size: 13px;
    margin: 18px 0;
  }

  .text_like h2 {
    font-size: 20px;
    margin: 0 0 10px;
    line-height: 28px;
  }
  .main_20 h5 {
    font-size: 15px;
  }

  .lorem_div p {
    font-size: 12px;
    line-height: 25px;
    text-align: center;
  }

  .lorem_div h5 {
    font-size: 18px;
    text-align: center;
  }
}

@media (max-width: 360px) {
  .login_fild.forget_align {
    width: 100%;
  }
  .login_text a {
    height: 38px;
    width: 150px;
    margin: 0px auto 0;
    font-size: 14px;
  }
  .login_text p {
    font-size: 14px;
    width: 100%;
    margin: 0px auto 20px;
    line-height: 23px;
  }
  .login_text {
    min-height: 320px;
    margin: 5% 0;
  }
  .login_text h3 {
    font-size: 25px;
    line-height: 24px;
    margin: 0 0 15px;
  }
  .login_fild h3 {
    font-size: 25px;
  }
  .login_fild {
    margin: 5% 0;
    min-height: 330px;
  }
  .login_sec {
    height: 100%;
    min-height: 350px;
  }
  .login_fild a {
    height: 37px;
    width: 150px;
    margin: 16px auto 0;
    font-size: 14px;
  }
  .login_fild input {
    height: 40px;
    width: 90%;
    margin: 17px auto 0;
  }
  /* ////// */
  .text_like {
    margin: auto;
  }
  header#header {
    position: inherit;
    padding: 0;
  }

  .slicknav_menu {
    background: #ffffff;
  }

  .slicknav_nav a {
    color: #000;
  }

  .menuSec img {
    margin: 0 auto 10px;
    display: block;
    width: 50%;
  }

  .bannerText {
    padding: 0 0 0;
  }

  .bannerText h2 {
    font-size: 20px;
    line-height: 35px;
    margin: 0;
  }

  .bannerText a {
    padding: 2px 5px;
    font-size: 12px;
    margin: 0;
  }

  .bannerimg.wow.fadeInRight {
    padding-top: 30px;
  }

  .centerheading span {
    font-size: 14px;
    line-height: 20px;
    width: auto;
    margin: 0 auto 20px;
  }
  .trustbox {
    padding: 80px 0 0 0px;
  }

  .trustbox.purple {
    margin: 0 auto 20px;
  }

  .trustbox.green {
    margin: 0 auto 20px;
  }

  .insta_text h3 {
    font-size: 24px;
    line-height: 34px;
    margin: 10px 0 20px;
    width: 100%;
  }

  .insta_text h6 {
    font-size: 15px;
    font-weight: 500;
  }

  .insta_text p {
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
  }

  .insta_text a {
    padding: 5px 29px;
    font-size: 12px;
    font-weight: 300;
    margin: 10px 0 0 0;
  }

  .insta_text.fadeInLeft {
    margin-bottom: 30px;
  }

  .insta_2img {
    padding: 50px 0 0;
  }

  .rightheading span {
    font-size: 16px;
    line-height: 16px;
    text-align: center;
  }

  .rightheading h4 {
    text-align: center;
    margin-bottom: 10px;
  }

  .testimonial .slick-dots {
    right: 0;
    bottom: 0;
    left: 0;
    top: 320px;
  }

  .cus_test1 h5 {
    margin: 0;
  }

  .cus_test1 h2 {
    margin: 10px 0 15px;
    line-height: 31px;
  }

  .test::after {
    width: 100%;
    left: 30px;
    top: 20px;
    z-index: -1;
    opacity: 0.8;
    background-size: 11%;
  }

  .cus_con2 h4 {
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0 10px;
    text-align: center;
  }

  .cus_con2 input {
    padding: 0 14px;
    font-size: 12px;
    margin: 0 0px 6px;
    width: 100%;
  }

  .cus_con2 textarea#floatingTextarea2 {
    width: 100%;
    height: 118px !important;
  }
  .form-floating > label {
    font-weight: 400 !important;
    color: #798189 !important;
    padding: 4px 10px;
    font-size: 12px !important;
  }

  .cus_con2 button {
    margin: 0 0 0px;
    width: 40%;
    height: 35px;
    font-size: 12px;
    font-weight: 300;
  }
  .cus_con5 p {
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
  }

  .cus_con6 {
    padding: 0 0 0;
    text-align: center;
  }

  .foter-logo img {
    width: 35%;
    margin: 0;
  }

  .foter-logo p {
    font-size: 14px;
  }

  .foter-logo i {
    top: 128px;
  }
  .auto_main {
    margin: 40px 0 0;
  }

  .cus_icon ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }

  .copy-text p {
    text-align: center;
  }

  .copy_sec li a {
    font-size: 20px;
    margin: 0px 0px 0px 10px;
  }

  .copy_sec {
    display: flex;
    justify-content: center;
  }

  .main-copy {
    padding: 25px 0 0;
  }

  .Servicesmainmain {
    margin: 0 auto 15px !important;
  }
  .Servicesmainmain4 {
    position: unset;
    top: unset;
  }
  .bannerText a.start_btn {
    padding: 2px 5px;
    font-size: 12px;
  }

  .tab_sec .tab {
    width: auto;
  }
  .tab_sec .tab button {
    font-size: 13px;
  }
  .video_like iframe {
    width: auto;
    height: 220px;
    margin: 0 auto 50px;
    display: block;
  }
  .like_text p {
    font-size: 12px;
    line-height: 18px;
  }
  .order-para li {
    list-style: inherit;
    font-size: 12px;
    line-height: 17px;
  }

  .bg_text h2 {
    font-size: 25px;
    margin: 0 0 0px;
    line-height: 40px;
  }
  .bg_text1 .bg-number {
    font-size: 5rem;
  }
  .bg_text1.bg_text2 {
    padding: 30px 0 0;
  }
  .bg_text2 {
    padding: 20px 0 0;
    width: auto;
  }
  .bg_text1.bg_text2 .bg-number {
    top: 20px;
  }
  .faq_text h3 {
    margin: 0 0 15px;
    font-size: 14px;
    line-height: 27px;
  }
  .faq_text p {
    font-size: 11px;
    font-weight: 400;
  }
  .faqs_sec p {
    font-weight: 500;
    font-size: 11px;
    width: auto;
    padding: 0;
    line-height: 16px;
  }
  ul.linkList li a {
    font-size: 12px;
    line-height: 20px;
  }
  .linkList.two a {
    font-size: 12px;
    line-height: 17px;
  }
  .linkList.two li {
    padding: 0 0 0;
  }

  .anchor_block a {
    line-height: 20px;
    font-size: 13px;
  }
  .like_text a {
    font-size: 13px;
    font-weight: 500;
  }

  a.package_a {
    margin: 0 auto;
  }
  .main_pkg {
    margin: 0 auto;
    display: table;
  }
  a.package_a {
    width: 53px;
    height: 42px;
    margin: 0 auto;
  }
  a.package_2 {
    width: 110px;
    height: 42px;
  }

  .like_text h6 {
    font-size: 13px;
    margin: 18px 0;
  }

  .text_like h2 {
    font-size: 20px;
    margin: 0 0 10px;
    line-height: 28px;
  }
  .main_20 h5 {
    font-size: 15px;
  }

  .lorem_div p {
    font-size: 12px;
    line-height: 25px;
    text-align: center;
  }

  .lorem_div h5 {
    font-size: 18px;
    text-align: center;
  }
}
